In [61]:
import pandas as pd
import gmaps
import gmaps.datasets
from config import gkey

import warnings
warnings.filterwarnings('ignore')

In [62]:
file = "Resources/Chicago_Traffic_Tracker_-_Congestion_Estimates_by_Regions.csv"
zones_df = pd.read_csv(file)
zones_df.head()

,REGION,REGION_ID,WEST,EAST,SOUTH,NORTH,DESCRIPTION,CURRENT_SPEED,LAST_UPDATED
0,Beverly-Mt Greenwood-Morgan Park,25,-87.747456,-87.662508,41.677477,41.728472,119th to 91st. Cicero to Ashland,29.18,2019-03-21 17:31:47.0
1,Hyde Park-Kenwood-Woodlawn,21,-87.606334,-87.566260,41.764066,41.822792,71st to Pershing. Cottage Grove to Lake Shore,21.14,2019-03-21 17:31:46.0
2,Austin,9,-87.775947,-87.747456,41.866129,41.909269,Roosevelt to North Ave. Austin to Cicero,25.23,2019-03-21 17:31:46.0
3,South West Side,18,-87.747456,-87.683730,41.764066,41.822792,71st to Pershing. Cicero to Western,23.18,2019-03-21 17:31:46.0
4,Lincoln Park-Lake View,8,-87.674590,-87.619112,41.910561,41.960669,North Ave to Montrose. Ravenswood to Lake Shore,19.09,2019-03-21 17:31:46.0

In [63]:
zones_df[[" REGION_ID"," WEST", " EAST", " SOUTH", " NORTH"]]

     REGION_ID       WEST       EAST      SOUTH      NORTH
0           25 -87.747456 -87.662508  41.677477  41.728472
1           21 -87.606334 -87.566260  41.764066  41.822792
2            9 -87.775947 -87.747456  41.866129  41.909269
3           18 -87.747456 -87.683730  41.764066  41.822792
4            8 -87.674590 -87.619112  41.910561  41.960669
5            2 -87.846210 -87.747456  41.960669  42.019100
6           23 -87.672980 -87.606334  41.728472  41.764066
7           13 -87.647208 -87.623080  41.866129  41.888860
8           27 -87.584845 -87.524436  41.677477  41.728472
9           10 -87.747456 -87.691617  41.866129  41.909269
10          20 -87.636322 -87.606334  41.764066  41.822792
11           4 -87.674590 -87.646438  41.960669  41.997946
12           3 -87.747456 -87.674590  41.960669  41.997946
13          12 -87.647208 -87.623080  41.888860  41.911401
14          14 -87.747456 -87.685372  41.822792  41.866129
15          28 -87.662508 -87.524436  41.644139  41.677477
16           7 -87.747456 -87.674590  41.909269  41.931841
17           6 -87.747456 -87.674590  41.931841  41.960669
18          19 -87.683730 -87.636322  41.764066  41.822792
19          24 -87.606334 -87.526388  41.728472  41.764066
20           5 -87.846210 -87.747456  41.909269  41.960669
21          15 -87.685372 -87.636322  41.822792  41.866129
22          11 -87.691617 -87.647208  41.866129  41.910561
23           1 -87.709645 -87.654561  41.997946  42.026444
24          16 -87.636322 -87.597952  41.822792  41.866129
25          22 -87.747456 -87.672980  41.728472  41.764066
26          26 -87.662508 -87.584845  41.677477  41.728472
27          29 -87.623080 -87.595378  41.866129  41.911401
28          17 -87.802188 -87.747456  41.764066  41.822792

In [64]:
gmaps.configure(api_key = gkey)
gmaps.figure()

Figure(layout=FigureLayout(height='420px'))

In [65]:
#Create a list of coordinates for our figure
SW = []
NW = []
SE = []
NE = []

for index, row in zones_df.iterrows():
    temp = []
    temp.append(row[" NORTH"])
    temp.append(row[" EAST"])
    NE.append(temp)

for index,row in zones_df.iterrows():
    temp = []
    temp.append(row[" NORTH"])
    temp.append(row[" WEST"])
    NW.append(temp)
    
for index,row in zones_df.iterrows():
    temp = []
    temp.append(row[" SOUTH"])
    temp.append(row[" EAST"])
    SE.append(temp)
    
for index,row in zones_df.iterrows():
    temp = []
    temp.append(row[" SOUTH"])
    temp.append(row[" WEST"])
    SW.append(temp)    

print(SW)

[[41.677477, -87.747456], [41.764066, -87.60633399999999], [41.866129, -87.775947], [41.764066, -87.747456], [41.910561, -87.67459000000001], [41.960669, -87.84621], [41.728472, -87.67298000000001], [41.866129, -87.64720799999999], [41.677477, -87.584845], [41.866129, -87.747456], [41.764066, -87.63632199999999], [41.960669, -87.67459000000001], [41.960669, -87.747456], [41.88886, -87.64720799999999], [41.822792, -87.747456], [41.644139, -87.662508], [41.909269, -87.747456], [41.931841, -87.747456], [41.764066, -87.68373000000001], [41.728472, -87.60633399999999], [41.909269, -87.84621], [41.822792, -87.685372], [41.866129, -87.69161700000001], [41.997946, -87.709645], [41.822792, -87.63632199999999], [41.728472, -87.747456], [41.677477, -87.662508], [41.866129, -87.62308], [41.764066, -87.802188]]

In [66]:

north = zones_df[" NORTH"]
south = zones_df[" SOUTH"]
west = zones_df[" WEST"]
east = zones_df[" EAST"]
    
    
print(north)

0     41.728472
1     41.822792
2     41.909269
3     41.822792
4     41.960669
5     42.019100
6     41.764066
7     41.888860
8     41.728472
9     41.909269
10    41.822792
11    41.997946
12    41.997946
13    41.911401
14    41.866129
15    41.677477
16    41.931841
17    41.960669
18    41.822792
19    41.764066
20    41.960669
21    41.866129
22    41.910561
23    42.026444
24    41.866129
25    41.764066
26    41.728472
27    41.911401
28    41.822792
Name:  NORTH, dtype: float64

In [67]:
#Make coordinates into a distinct zone list
coords = []

for x in range(29):
    temp = []
    temp.append(NE[x])
    temp.append(SE[x])
    temp.append(SW[x])
    temp.append(NW[x])
    coords.append(temp)
    
print(coords[0])

[[41.728472, -87.662508], [41.677477, -87.662508], [41.677477, -87.747456], [41.728472, -87.747456]]

In [68]:
#Make the map
fig = gmaps.figure(center=(41.835966, -87.825), zoom_level=11)
# drawing = gmaps.drawing_layer(features = 
#                              gmaps.Polygon(north[0], west[0], north[0], east[0], south[0], west[0], south[0], east[0]))

for x in range(29):
    region_layer = gmaps.drawing_layer(features = [
        gmaps.Polygon(
            coords[x],
            stroke_color='blue', stroke_weight=1, fill_color='blue', fill_opacity=.2
        )
    ])
    fig.add_layer(region_layer)
    
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
region_bac_df = pd.read_csv('Resources/region_bac_count.csv')
region_bac_df.set_index('Region_ID',inplace=True)
region_bac_df.head()

           BAC_RESULT VALUE
Region_ID
1                        10
2                        11
3                        21
4                         7
5                        33

In [70]:
region_bac_df['BAC_scaled'] = region_bac_df['BAC_RESULT VALUE'] / region_bac_df['BAC_RESULT VALUE'].max()
region_bac_df['r'] = ""
region_bac_df['g'] = ""
region_bac_df['b'] = ""
region_bac_df.head()

           BAC_RESULT VALUE  BAC_scaled r g b
Region_ID
1                        10    0.243902
2                        11    0.268293
3                        21    0.512195
4                         7    0.170732
5                        33    0.804878

In [71]:
for index, row in region_bac_df.iterrows():
    if region_bac_df["BAC_scaled"][index] <= .5:
        region_bac_df['r'][index] = int(round(255 * region_bac_df['BAC_scaled'][index] * 2))
        region_bac_df['g'][index] = 255
        region_bac_df['b'][index] = 0
    if region_bac_df["BAC_scaled"][index] > .5:
        region_bac_df['r'][index] = 255
        region_bac_df['g'][index] = int(round(255 * (1 - (2 * (region_bac_df['BAC_scaled'][index] - .5)))))
        region_bac_df['b'][index] = 0
region_bac_df.head()

           BAC_RESULT VALUE  BAC_scaled    r    g  b
Region_ID
1                        10    0.243902  124  255  0
2                        11    0.268293  137  255  0
3                        21    0.512195  255  249  0
4                         7    0.170732   87  255  0
5                        33    0.804878  255  100  0

In [72]:
r = region_bac_df['r']
g = region_bac_df['g']
b = region_bac_df['b']

In [73]:
#Make the map
fig = gmaps.figure(center=(41.835966, -87.825), zoom_level=11)

for x in range(29):
    region_layer = gmaps.drawing_layer(features = [
        gmaps.Polygon(
            coords[x],
            stroke_color='gray', stroke_weight=1, fill_color=(r[x+1],g[x+1],b[x+1]), fill_opacity=.5
        )
    ])
    fig.add_layer(region_layer)
    
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
rl_cams = pd.read_csv("Resources/Red_Light_Camera_Locations.csv", low_memory=False)
rl_location = rl_cams.loc[:,"LATITUDE":"LONGITUDE"]
rl_location["LATITUDE"].dropna(how='any', inplace=True)
rl_location["LONGITUDE"].dropna(how='any', inplace=True)
rl_location.rename(columns={"LATITUDE": "Lat", "LONGITUDE":"Lng"}, inplace=True)
rl_intersection = rl_cams.loc[:,"INTERSECTION"]

In [75]:
speed_cams = pd.read_csv("Resources/Speed_Camera_locations.csv", low_memory=False)
speed_location = speed_cams.loc[:,"LATITUDE":"LONGITUDE"]
speed_location["LATITUDE"].dropna(how='any', inplace=True)
speed_location["LONGITUDE"].dropna(how='any', inplace=True)
speed_location.rename(columns={"LATITUDE": "Lat", "LONGITUDE":"Lng"}, inplace=True)
speed_address = speed_cams.loc[:,"ADDRESS"]

In [78]:
rl_intersection_layer = gmaps.symbol_layer(
    rl_location, fill_color='rgba(225, 0, 0, 0.4)',
    stroke_color='rgba(225, 0, 0, 0.4)', scale=2,
    info_box_content=[f"Location: {intersection}" for intersection in rl_intersection]
)

speed_address_layer = gmaps.symbol_layer(
    speed_location, fill_color='rgba(0, 0, 225, 0.4)',
    stroke_color='rgba(0, 0, 225, 0.4)', scale=2,
    info_box_content=[f"Location: {address}" for address in speed_address]
)

#Make the map
fig = gmaps.figure(center=(41.835966, -87.825), zoom_level=11)

fig.add_layer(rl_intersection_layer)
fig.add_layer(speed_address_layer)

for x in range(29):
    region_layer = gmaps.drawing_layer(features = [
        gmaps.Polygon(
            coords[x],
            stroke_color='blue', stroke_weight=1, fill_color='blue', fill_opacity=.05
        )
    ])
    fig.add_layer(region_layer)


fig

Figure(layout=FigureLayout(height='420px'))