In [2]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
import pandas as pd

In [4]:
tv='Traffic_Crashes_-_Vehicles.csv'
traffic_vehicles=pd.read_csv(tv)
traffic_vehicles.head()

FileNotFoundError: [Errno 2] File b'Traffic_Crashes_-_Vehicles.csv' does not exist: b'Traffic_Crashes_-_Vehicles.csv'

In [157]:
traffic_vehicles['MANEUVER'].value_counts()

STRAIGHT AHEAD                        248432
PARKED                                 69915
SLOW/STOP IN TRAFFIC                   45554
UNKNOWN/NA                             41956
TURNING LEFT                           31608
BACKING                                24864
TURNING RIGHT                          18264
PASSING/OVERTAKING                     13661
CHANGING LANES                         12108
OTHER                                   8998
ENTERING TRAFFIC LANE FROM PARKING      6871
MERGING                                 4013
STARTING IN TRAFFIC                     3561
LEAVING TRAFFIC LANE TO PARK            2968
SLOW/STOP - LEFT TURN                   2953
U-TURN                                  2920
ENTER FROM DRIVE/ALLEY                  2519
SKIDDING/CONTROL LOSS                   2468
AVOIDING VEHICLES/OBJECTS               2432
SLOW/STOP - RIGHT TURN                  1875
SLOW/STOP - LOAD/UNLOAD                 1603
PARKED IN TRAFFIC LANE                  1518
NEGOTIATING A CURVE                      832
DRIVING WRONG WAY                        697
DRIVERLESS                               240
TURNING ON RED                           212
DIVERGING                                 82
Name: MANEUVER, dtype: int64

In [156]:
grouped_action4= traffic_vehicles.groupby(['LIC_PLATE_STATE'])
sum_action4=grouped_action4['VEHICLE_ID'].count()
sum_action4.head()

LIC_PLATE_STATE
AK      19
AL     189
AR     156
AZ    1041
CA     648
Name: VEHICLE_ID, dtype: int64

In [92]:
tp='Traffic_Crashes_-_People.csv'
traffic_people=pd.read_csv(tp)
traffic_people

,PERSON_ID,PERSON_TYPE,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O10,DRIVER,HY368708,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,M,...,NaN,FAILED TO YIELD,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O100,DRIVER,HY374018,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,M,...,NaN,FOLLOWED TOO CLOSELY,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O1000,DRIVER,HY407431,954.0,09/02/2015 11:45:00 AM,NaN,CHICAGO,IL,NaN,M,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10000,DRIVER,HY484148,9561.0,10/31/2015 09:30:00 PM,NaN,SKOKIE,IL,60076,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O100001,DRIVER,HZ525619,96762.0,11/15/2016 05:45:00 PM,NaN,NaN,NaN,NaN,X,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
5,O100002,DRIVER,HZ525619,96754.0,11/15/2016 05:45:00 PM,NaN,CHICAGO,IL,60619,F,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
6,O100003,DRIVER,HZ525629,96757.0,11/22/2016 01:45:00 PM,NaN,PARKRIDGE,IL,NaN,F,...,NaN,FOLLOWED TOO CLOSELY,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
7,O100004,DRIVER,HZ525629,96755.0,11/22/2016 01:45:00 PM,NaN,CHICAGO,IL,60646,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
8,O100005,DRIVER,HZ525606,96759.0,11/19/2016 06:35:00 PM,NaN,BUFFALO GROVE,IL,60089,F,...,NaN,IMPROPER LANE CHANGE,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
9,O100006,DRIVER,HZ525606,96760.0,11/19/2016 06:35:00 PM,NaN,CHICAGO,IL,60625,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
10,O100007,DRIVER,HZ525655,96763.0,11/17/2016 11:30:00 PM,NaN,NaN,NaN,NaN,X,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
11,O100009,DRIVER,HZ525664,96768.0,11/22/2016 04:00:00 PM,NaN,CHICAGO,IL,60614,M,...,NaN,FOLLOWED TOO CLOSELY,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
12,O10001,DRIVER,HY484182,9562.0,10/31/2015 10:15:00 PM,NaN,CHICAGO,IL,60641,F,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
13,O100010,DRIVER,HZ525664,96770.0,11/22/2016 04:00:00 PM,NaN,CHICAGO,IL,60622,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
14,O100011,DRIVER,HZ525684,96775.0,11/22/2016 02:45:00 PM,NaN,CHICAGO,IL,60640,M,...,NaN,FOLLOWED TOO CLOSELY,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
15,O100012,DRIVER,HZ525684,96780.0,11/22/2016 02:45:00 PM,NaN,CHICAGO,IL,60636,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
16,O100013,DRIVER,HZ525690,96771.0,11/22/2016 06:00:00 AM,NaN,CHICAGO,IL,60629,M,...,NaN,FAILED TO YIELD,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
17,O100014,DRIVER,HZ525690,96777.0,11/22/2016 06:00:00 AM,NaN,NaN,NaN,NaN,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
18,O100015,DRIVER,HZ525688,96773.0,11/22/2016 05:40:00 PM,NaN,EVANSTON,IL,60202,M,...,NaN,FAILED TO YIELD,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
19,O100016,DRIVER,HZ525688,96776.0,11/22/2016 05:40:00 PM,NaN,CHICAGO,IL,60618,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
20,O100017,DRIVER,HZ525716,96774.0,11/19/2016 12:00:00 PM,NaN,NaN,NaN,NaN,X,...,NaN,IMPROPER LANE CHANGE,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
21,O100018,DRIVER,HZ525716,96778.0,11/19/2016 12:00:00 PM,NaN,CROWN POINT,IN,46307,F,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
22,O100019,DRIVER,HZ525695,96779.0,11/22/2016 08:45:00 AM,NaN,CHICAGO,IL,60616,F,...,NaN,FAILED TO YIELD,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
23,O10002,DRIVER,HY484182,9564.0,10/31/2015 10:15:00 PM,NaN,CHICAGO,IL,60651,M,...,NaN,NONE,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
24,O100020,DRIVER,HZ525695,96782.0,11/22/2016 08:45:00 AM,NaN,CHICAGO,IL,60619,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
25,O100021,DRIVER,HZ525624,96781.0,11/22/2016 04:05:00 PM,NaN,NaN,NaN,NaN,X,...,NaN,IMPROPER PASSING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
26,O100022,DRIVER,HZ525624,96784.0,11/22/2016 04:05:00 PM,NaN,CHICAGO,IL,60618,F,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
27,O100023,DRIVER,HZ525723,96789.0,11/22/2016 05:15:00 PM,NaN,CHICAGO,IL,60644,F,...,NaN,FAILED TO YIELD,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
28,O100024,DRIVER,HZ525723,96793.0,11/22/2016 05:15:00 PM,NaN,CHICAGO,IL,60644,F,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
29,O100025,DRIVER,HZ525738,96792.0,11/22/2016 05:30:00 PM,NaN,JOLIET,IL,60435,M,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609296,P137139,PASSENGER,JC193117,579059.0,03/20/2019 04:54:00 PM,3.0,BELLWOOD,IL,60104,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609297,P137141,PASSENGER,JC193039,579023.0,03/14/2019 04:30:00 PM,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609298,P137145,PASSENGER,JC193144,579084.0,03/20/2019 03:50:00 PM,6.0,CHICAGO,IL,60649,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609299,P137146,PASSENGER,JC193233,579088.0,03/20/2019 03:30:00 PM,3.0,ROMEOVILLE,IL,60446,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609300,P137147,PASSENGER,JC192955,579057.0,03/20/2019 02:45:00 PM,1.0,BURBANK,IL,60459,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609301,P137149,PASSENGER,JC193233,579088.0,03/20/2019 03:30:00 PM,6.0,CHICAGO,IL,60644,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609302,P137150,PASSENGER,JC193200,579094.0,03/20/2019 06:23:00 PM,3.0,NaN,IL,NaN,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609303,P137152,PASSENGER,JC192999,579049.0,03/20/2019 03:16:00 PM,3.0,NaN,IL,NaN,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609304,P137154,PASSENGER,JC193233,579078.0,03/20/2019 03:30:00 PM,6.0,NaN,IL,NaN,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609305,P137155,PASSENGER,JC193227,579100.0,03/20/2019 05:00:00 PM,3.0,CHICAGO,IL,60632,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609306,P137156,PASSENGER,JC193174,579096.0,03/20/2019 05:30:00 PM,3.0,EVERGREEN PARK,IL,60805,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609307,P137158,PASSENGER,JC193227,579113.0,03/20/2019 05:00:00 PM,3.0,CHICAGO,IL,60608,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609308,P137159,PASSENGER,JC193153,579116.0,03/20/2019 05:30:00 PM,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609309,P137160,PASSENGER,JC193174,579117.0,03/20/2019 05:30:00 PM,3.0,EVERGREEN PARK,IL,60805,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609310,P137161,PASSENGER,JC193174,579117.0,03/20/2019 05:30:00 PM,4.0,EVERGREEN PARK,IL,60805,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609311,P137162,PASSENGER,JC193174,579117.0,03/20/2019 05:30:00 PM,6.0,EVERGREEN PARK,IL,60805,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609312,P137163,PASSENGER,JC192954,579128.0,03/20/2019 03:19:00 PM,3.0,NaN,NaN,NaN,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609313,P137165,PASSENGER,JC168263,579138.0,02/27/2019 09:10:00 PM,3.0,CHICAGO,IL,60626,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609314,P137166,PASSENGER,JC193174,579132.0,03/20/2019 05:30:00 PM,3.0,CHICAGO,IL,60652,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609315,P137167,PASSENGER,JC193211,579143.0,03/20/2019 06:25:00 PM,3.0,CHICAGO,IL,60624,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609316,P137168,PASSENGER,JC193153,579148.0,03/20/2019 05:30:00 PM,3.0,CHICAGO,IL,60605,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609317,P137169,PASSENGER,JC193250,579146.0,03/20/2019 06:25:00 PM,3.0,CHICAGO,IL,60659,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609318,P137170,PASSENGER,JC193297,579166.0,03/20/2019 07:00:00 PM,3.0,NaN,NaN,NaN,X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609319,P137171,PASSENGER,JC193250,579169.0,03/20/2019 06:25:00 PM,3.0,CHICAGO,IL,60645,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609320,P137172,PASSENGER,JC193250,579169.0,03/20/2019 06:25:00 PM,4.0,CHICAGO,NaN,NaN,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609321,P137173,PASSENGER,JC193250,579169.0,03/20/2019 06:25:00 PM,6.0,CHICAGO,IL,NaN,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609322,P137176,PASSENGER,JC192798,579208.0,03/20/2019 11:50:00 AM,2.0,NaN,NaN,NaN,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609323,P137177,PASSENGER,JC192798,579208.0,03/20/2019 11:50:00 AM,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609324,P137179,PASSENGER,JC193350,579226.0,03/20/2019 08:05:00 PM,3.0,CHICAGO,IL,60621,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609325,P137187,PASSENGER,JC193480,579263.0,03/20/2019 09:59:00 PM,3.0,CHICAGO,IL,60617,M,...,AMB 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
traffic_people['BAC_RESULT VALUE'].value_counts()

0.18    56
0.00    53
0.17    47
0.14    43
0.21    42
0.20    37
0.19    37
0.15    31
0.16    29
0.22    29
0.12    27
0.23    24
0.24    23
0.11    22
0.13    19
0.28    15
0.26    14
0.27    14
0.25    13
0.09    13
0.10    11
0.07    11
0.08     8
0.30     8
0.29     6
0.03     5
0.06     4
0.33     4
0.05     4
0.04     3
0.34     3
0.38     3
0.32     3
0.35     2
0.36     2
0.45     2
0.39     2
0.02     2
0.40     1
0.79     1
0.99     1
0.01     1
0.95     1
0.88     1
0.44     1
0.31     1
0.60     1
0.80     1
0.47     1
Name: BAC_RESULT VALUE, dtype: int64

In [153]:
traffic_people['AGE'].value_counts()

25.0     12565
27.0     12427
26.0     12315
24.0     12166
28.0     11869
29.0     11454
23.0     11360
30.0     10707
31.0     10215
22.0     10172
32.0      9932
33.0      9723
34.0      9326
35.0      9285
36.0      9141
37.0      8859
21.0      8824
38.0      8336
39.0      8080
20.0      7764
40.0      7735
41.0      7580
45.0      7445
46.0      7316
42.0      7299
47.0      7247
44.0      7180
43.0      7174
48.0      6881
19.0      6685
         ...
80.0       704
81.0       627
82.0       502
83.0       453
84.0       388
85.0       309
87.0       211
86.0       209
88.0       173
89.0       154
90.0       107
91.0        83
92.0        59
93.0        53
94.0        36
95.0        30
97.0        14
98.0        10
99.0         9
96.0         9
102.0        7
107.0        4
109.0        4
100.0        4
101.0        3
104.0        3
108.0        3
110.0        2
103.0        1
106.0        1
Name: AGE, Length: 110, dtype: int64

In [135]:
# not working 
#BAC_df.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
#plt.plot(BAC_df['BAC_RESULT VALUE'], BAC_df['VEHICLE_ID'], marker ='o', color='blue')

In [149]:
traffic_people['DRIVER_ACTION'].value_counts()

NONE                                 184779
UNKNOWN                              105582
FAILED TO YIELD                       48594
OTHER                                 40174
FOLLOWED TOO CLOSELY                  34781
IMPROPER BACKING                      16715
IMPROPER LANE CHANGE                  14099
IMPROPER TURN                         13272
IMPROPER PASSING                      11197
TOO FAST FOR CONDITIONS                8327
DISREGARDED CONTROL DEVICES            7039
IMPROPER PARKING                       1995
WRONG WAY/SIDE                         1648
CELL PHONE USE OTHER THAN TEXTING       941
EVADING POLICE VEHICLE                  825
EMERGENCY VEHICLE ON CALL               398
TEXTING                                 234
STOPPED SCHOOL BUS                       68
LICENSE RESTRICTIONS                     16
Name: DRIVER_ACTION, dtype: int64

In [84]:
 # Import our data into pandas from CSV
scl = 'Speed_Camera_Locations.csv'
speed_locations = pd.read_csv(scl)

speed_locations.head()

,ADDRESS,FIRST APPROACH,SECOND APPROACH,GO-LIVE DATE,LATITUDE,LONGITUDE,LOCATION
0,3843 W 111th (Speed Camera),EB,WB,01/13/2014,41.691202,-87.717211,"(41.69120239624487, -87.71721139909997)"
1,19 W Chicago Ave (Speed Camera),WB,NaN,04/29/2014,41.896556,-87.629026,"(41.89655610710888, -87.62902590382873)"
2,2445 W 51st St (Speed Camera),EB,NaN,02/24/2014,41.801013,-87.686071,"(41.801012880525555, -87.68607060493738)"
3,7739 S Western (Speed Camera),NB,NaN,12/18/2013,41.752629,-87.682765,"(41.752629293489285, -87.68276525603093)"
4,3832 W 79th St (Speed Camera),EB,NaN,02/10/2014,41.749715,-87.719599,"(41.749715176851936, -87.71959877920995)"

In [71]:
regions='Chicago_Traffic_Tracker_-_Congestion_Estimates_by_Regions.csv'
regions_df=pd.read_csv(regions)
regions_df1=regions_df.loc[:," REGION_ID":" NORTH"]
regions_df1.head()

    REGION_ID       WEST       EAST      SOUTH      NORTH
0           2 -87.846210 -87.747456  41.960669  42.019100
1           3 -87.747456 -87.674590  41.960669  41.997946
2           4 -87.674590 -87.646438  41.960669  41.997946
3           7 -87.747456 -87.674590  41.909269  41.931841
4           1 -87.709645 -87.654561  41.997946  42.026444

In [8]:
tc='Traffic_Crashes_-_Crashes.csv'
traffic_crashes=pd.read_csv(tc)
traffic_crashes.head()

,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,JC193526,NaN,03/21/2019 12:50:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,0,5,3,41.808203,-87.704125,POINT (-87.704125461348 41.808203053915)
1,JC193531,NaN,03/21/2019 12:49:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,RAIN,"DARKNESS, LIGHTED ROAD",FIXED OBJECT,NOT DIVIDED,...,0.0,0.0,1.0,0.0,0,5,3,41.791284,-87.741697,POINT (-87.741696867821 41.791283705634)
2,JC193482,NaN,03/20/2019 10:35:00 PM,5,TRAFFIC SIGNAL,UNKNOWN,RAIN,"DARKNESS, LIGHTED ROAD",FIXED OBJECT,RAMP,...,0.0,0.0,1.0,0.0,22,4,3,41.884390,-87.629599,POINT (-87.629599098569 41.884389603817)
3,JC193506,NaN,03/20/2019 10:00:00 PM,30,NO CONTROLS,NO CONTROLS,RAIN,DARKNESS,REAR END,NOT DIVIDED,...,0.0,0.0,2.0,0.0,22,4,3,41.685684,-87.603466,POINT (-87.603466225555 41.685683631223)
4,JC193468,NaN,03/20/2019 10:00:00 PM,30,NO CONTROLS,NO CONTROLS,RAIN,"DARKNESS, LIGHTED ROAD",REAR END,NOT DIVIDED,...,0.0,0.0,2.0,0.0,22,4,3,41.910866,-87.649665,POINT (-87.649664933008 41.910865686084)

In [1]:
time = traffic_crashes["CRASH_HOUR"].value_counts()
time
red_df= pd.DataFrame(time)

NameError: name 'traffic_crashes' is not defined

In [142]:
traffic_crashes['POSTED_SPEED_LIMIT'].describe()

count    279796.000000
mean         28.166189
std           6.900005
min           0.000000
25%          30.000000
50%          30.000000
75%          30.000000
max          99.000000
Name: POSTED_SPEED_LIMIT, dtype: float64

In [83]:
scv='Speed_Camera_Violations.csv'
speed_violations=pd.read_csv(scv)
speed_violations['LONGITUDE'].dropna(how='any', inplace=True)  
speed_violations.head()

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,7738 S WESTERN,CHI065,07/08/2014,65,NaN,NaN,NaN,NaN,NaN
1,1111 N HUMBOLDT,CHI010,07/16/2014,56,NaN,NaN,NaN,NaN,NaN
2,5520 S WESTERN,CHI069,07/08/2014,10,NaN,NaN,NaN,NaN,NaN
3,1111 N HUMBOLDT,CHI010,07/26/2014,101,NaN,NaN,NaN,NaN,NaN
4,1111 N HUMBOLDT,CHI010,07/27/2014,92,NaN,NaN,NaN,NaN,NaN

In [144]:

#Separate data by years:
speed_violations["year"] = ""

#Split column for crashdate on date
speed_violations["Year"] = pd.DatetimeIndex(speed_violations["VIOLATION DATE"]).year

,ADDRESS,CAMERA ID,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION,year,Year
0,7738 S WESTERN,CHI065,07/08/2014,65,NaN,NaN,NaN,NaN,NaN,,2014
1,1111 N HUMBOLDT,CHI010,07/16/2014,56,NaN,NaN,NaN,NaN,NaN,,2014
2,5520 S WESTERN,CHI069,07/08/2014,10,NaN,NaN,NaN,NaN,NaN,,2014
3,1111 N HUMBOLDT,CHI010,07/26/2014,101,NaN,NaN,NaN,NaN,NaN,,2014
4,1111 N HUMBOLDT,CHI010,07/27/2014,92,NaN,NaN,NaN,NaN,NaN,,2014

In [145]:
yearlyspeed = speed_violations.groupby(["Year"])
yearlyspeed['VIOLATIONS'].count()

Year
2014    17054
2015    37872
2016    38998
2017    38346
2018    39234
2019     7634
Name: VIOLATIONS, dtype: int64

In [81]:
rlcl='Red_Light_Camera_Locations.csv'
red_locations=pd.read_csv(rlcl)
red_locations.head()

,INTERSECTION,FIRST APPROACH,SECOND APPROACH,THIRD APPROACH,GO LIVE DATE,LATITUDE,LONGITUDE,LOCATION
0,Pulaski-Diversey,SB,NB,NaN,05/15/2009,41.931791,-87.726979,"(41.931791, -87.726979)"
1,Pulaski-Foster,SB,WB,NaN,10/18/2007,41.975532,-87.728234,"(41.975532, -87.728234)"
2,Cicero-Fullerton,SB,WB,NaN,02/25/2006,41.924237,-87.746302,"(41.924237, -87.746302)"
3,Harlem-Belmont,NB,WB,NaN,06/18/2007,41.937997,-87.806746,"(41.937997, -87.806746)"
4,Narragansett-Fullerton,EB,WB,NaN,11/14/2008,41.923676,-87.785441,"(41.923676, -87.785441)"

In [82]:
rlcv='Red_Light_Camera_Violations.csv'
red_violations=pd.read_csv(rlcv)
red_violations.dropna(how='any', inplace=True)  
red_violations.head()

,INTERSECTION,CAMERA ID,ADDRESS,VIOLATION DATE,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
1,RIDGE AND CLARK,1051.0,5930 N CLARK STREET,12/09/2014,2,1.164555e+06,1.939389e+06,41.989299,-87.670104,"(41.98929863013193, -87.67010412112992)"
4,PULASKI AND FULLERTON,1484.0,4000 W FULLERTON AVE,11/29/2017,2,1.149303e+06,1.915695e+06,41.924593,-87.726819,"(41.92459302175305, -87.7268192684032)"
16,MADISON AND WESTERN,1934.0,2400 W MADISON,01/13/2016,3,1.160385e+06,1.899989e+06,41.881271,-87.686536,"(41.88127050428818, -87.68653594017124)"
40,LAWRENCE AND CICERO,1041.0,4800 N CICERO AVE,10/20/2016,7,1.143465e+06,1.931491e+06,41.968048,-87.747876,"(41.968048007293845, -87.74787598468126)"
42,LAWRENCE AND WESTERN,1192.0,4800 N WESTERN AVENUE,06/17/2018,7,1.159460e+06,1.931821e+06,41.968641,-87.689054,"(41.96864072747715, -87.6890542408374)"

In [146]:

#Separate data by years:
red_violations["year"] = ""

#Split column for crashdate on date
red_violations["Year"] = pd.DatetimeIndex(red_violations["VIOLATION DATE"]).year

yearlyred = red_violations.groupby(["Year"])
yearlyred['VIOLATIONS'].count()

#rerun 2015

Year
2014    49435
2015    91000
2016    93346
2017    90247
2018    90019
2019    15102
Name: VIOLATIONS, dtype: int64

In [80]:
grouped_RED = red_violations.groupby(['LATITUDE', 'LONGITUDE'])
RED = grouped_RED['VIOLATIONS'].sum()
red_v_df= pd.DataFrame(RED)
red_df=red_v_df.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
red_df["Region ID"] = ""
red_df.head()

    LATITUDE  LONGITUDE  VIOLATIONS Region ID
0  41.677721 -87.642052       10071
1  41.677923 -87.641990        4330
2  41.685190 -87.642280        3442
3  41.692161 -87.663472        2411
4  41.692263 -87.642523       12701

In [68]:
red_v_df= pd.DataFrame(RED)
red_df=red_v_df.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
red_df["Region ID"] = ""
red_df.head()

    LATITUDE  LONGITUDE  VIOLATIONS Region ID
0  41.677721 -87.642052       10071
1  41.677923 -87.641990        4330
2  41.685190 -87.642280        3442
3  41.692161 -87.663472        2411
4  41.692263 -87.642523       12701

In [72]:
for index, row in red_df.iterrows():
    for index2, row2 in regions_df1.iterrows():
        if ((red_df["LATITUDE"][index] < regions_df1[" NORTH"][index2]) & (red_df["LATITUDE"][index] > regions_df1[" SOUTH"][index2]) & (red_df["LONGITUDE"][index] > regions_df1[" WEST"][index2]) & (red_df["LONGITUDE"][index] < regions_df1[" EAST"][index2])):
            red_df["Region ID"][index] = regions_df1[" REGION_ID"][index2]

C:\Users\emhar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

    LATITUDE  LONGITUDE  VIOLATIONS Region ID
0  41.677721 -87.642052       10071        26
1  41.677923 -87.641990        4330        26
2  41.685190 -87.642280        3442        26
3  41.692161 -87.663472        2411        25
4  41.692263 -87.642523       12701        26

In [74]:
red_df.head()

    LATITUDE  LONGITUDE  VIOLATIONS Region ID
0  41.677721 -87.642052       10071        26
1  41.677923 -87.641990        4330        26
2  41.685190 -87.642280        3442        26
3  41.692161 -87.663472        2411        25
4  41.692263 -87.642523       12701        26

In [78]:
grouped_redregion= red_df.groupby(['Region ID'])
grouped_redregion2=grouped_redregion['VIOLATIONS'].sum()
grouped_redregion2
red_violation_region= pd.DataFrame(grouped_redregion2)
red_viol_region=red_violation_region.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
red_viol_region

    Region ID  VIOLATIONS
0           1       24320
1           2       65798
2           3      118082
3           4       79951
4           5      118316
5           6      184449
6           7      136505
7           8      208073
8           9       52039
9          10      145691
10         11      167821
11         12       40094
12         13       68622
13         14       79040
14         15       22884
15         16        5787
16         17        3260
17         18      253807
18         19       49059
19         20       41350
20         21       45958
21         22       23429
22         23      216308
23         24       66795
24         25       20613
25         26      103249
26         27        6928
27         29       32666

In [79]:
grouped_SPEED=speed_violations.groupby(['LATITUDE', 'LONGITUDE'])
SPEED=grouped_SPEED['VIOLATIONS'].sum()
speed_v_df= pd.DataFrame(SPEED)
speed_df=speed_v_df.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
speed_df["Region ID"] = ""
speed_df.head()

    LATITUDE  LONGITUDE  VIOLATIONS Region ID
0  41.663174 -87.633520      244748
1  41.690702 -87.664122        8206
2  41.691025 -87.664248       17892
3  41.691202 -87.717211       15825
4  41.706268 -87.682391        2566

In [87]:
for index, row in speed_df.iterrows():
    for index2, row2 in regions_df1.iterrows():
        if ((speed_df["LATITUDE"][index] < regions_df1[" NORTH"][index2]) & (speed_df["LATITUDE"][index] > regions_df1[" SOUTH"][index2]) & (speed_df["LONGITUDE"][index] > regions_df1[" WEST"][index2]) & (speed_df["LONGITUDE"][index] < regions_df1[" EAST"][index2])):
            speed_df["Region ID"][index] = regions_df1[" REGION_ID"][index2]

C:\Users\emhar\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [88]:
speed_df.head()

    LATITUDE  LONGITUDE  VIOLATIONS Region ID
0  41.663174 -87.633520      244748        28
1  41.690702 -87.664122        8206        25
2  41.691025 -87.664248       17892        25
3  41.691202 -87.717211       15825        25
4  41.706268 -87.682391        2566        25

In [89]:
grouped_speedregion= speed_df.groupby(['Region ID'])
grouped_speedregion2=grouped_speedregion['VIOLATIONS'].sum()
speed_violation_region= pd.DataFrame(grouped_speedregion2)
speed_viol_region=speed_violation_region.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
speed_viol_region

    Region ID  VIOLATIONS
0           1       61275
1           2      512656
2           3      444035
3           4       53822
4           5      313536
5           6      327141
6           7       37304
7           8      279323
8           9      142985
9          10      411570
10         11      148185
11         12        4899
12         13       31107
13         14      205456
14         15      232471
15         18      379120
16         19      166578
17         20      275929
18         21       10578
19         22       54105
20         23      124072
21         24       78297
22         25       50947
23         26       27755
24         27      235337
25         28      244748
26         29       47346

In [32]:
crashes_crashes=traffic_crashes.loc[:,"LATITUDE":"LONGITUDE"]
crashes_crashes['LATITUDE'].dropna(how='any', inplace=True)
crashes_crashes['LONGITUDE'].dropna(how='any', inplace=True)        
crashes_crashes['REGION_ID']=""
crashes_crashes.describe()

            LATITUDE      LONGITUDE
count  278366.000000  278366.000000
mean       41.857762     -87.671183
std         0.364804       0.745393
min         0.000000     -87.933994
25%        41.787248     -87.719936
50%        41.878095     -87.671594
75%        41.924707     -87.632558
max        42.022780       0.000000